packets/
node_modules/
*.wgt
.sign
package-lock.json
!standalone/service/package-lock.json
.history
.npmrc
standalone/userscript/
standalone/service/dist/
standalone/.buildResult/
standalone/release/
icons.txt